@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat&display=swap');
$family-primary: "Lato", sans-serif;

$beige: #eff0eb;
$link: #339966;
$link-hover: $link;

$body-background-color: $beige;
$navbar-background-color: $beige;
$box-background-color: $beige;

$widescreen-enabled: false;
$fullhd-enabled: false;

$navbar-dropdown-background-color: $beige;
$navbar-dropdown-item-hover-color: $link;

@import '../bulma/bulma.sass';

.profile {
    max-width: 75%;
    border-radius: 50%;
}

a {
    text-decoration: none;
}

a:hover:not(.no-ul) {
    text-decoration: underline;
}

::-moz-selection {
    background: $link;
    color: $beige;
}

::selection {
    background: $link;
    color: $beige;
}
