{{ define "main" }}
    <h1>{{ .Title }}</h1>
    {{ .Content }}
    {{ if and (eq .Page.Name "Music") (gt (len .Site.Data.spotify) 0) }}
        <h3>Recently Streamed Music</h3>
        {{ range .Site.Data.spotify }}
            <article class="media">
                <div class="media-left">
                    <figure class="image is-64x64">
                        <img src="{{ (index .album.images 2).url }}" />
                    </figure>
                </div>
                <div class="media-content">
                    <strong>{{ .name }}</strong>
                    <br />
                    {{ range $i, $e := .artists }}
                        {{ if $i }}<br />{{ end }}
                        {{ $e.name }}
                    {{ end }}
                </div>
            </article>
        {{ end }}
    {{ else if and (eq .Page.Name "Games") (gt (len .Site.Data.steam) 0) }}
        <h3>Recently Played Games</h3>
        {{ range .Site.Data.steam }}
            <article class="media">
                <div class="media-content">
                    <img width="256" src="https://steamcdn-a.akamaihd.net/steam/apps/{{ int .appid }}/header.jpg" />
                    <br />
                    <strong>{{ .name }}</strong>
                </div>
            </article>
        {{ end }}
    {{ end }}
{{ end }}
