{{ $style := resources.Get "scss/main.scss" | toCSS | minify | fingerprint }}

<head>
    <meta name="build_time" content="{{ now.Format "2006-01-02 15:04:05 MST" }}" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <meta name="og:site_name" content="{{ .Site.Title }}" />
    <meta name="og:title" content="{{ .Site.Title }}" />
    <meta name="og:url" content="{{ .Site.BaseURL }}" />
    <meta name="og:type" content="website" />
    <meta name="og:image" content="{{ .Site.BaseURL }}/img/profile/0.jpg" />
    <meta name="og:description" content="{{ .Site.Params.Tagline }}" />

    <title>{{ if .Title }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>

{{ range (readDir "static/js") }}
{{ if or (not (eq .Name "home.js")) $.IsHome }}
    <script src="/js/{{ .Name }}"></script>
{{ end }}
{{ end }}

{{ if .IsHome }}
    <script>
        var imgs = [
{{ range (readDir "static/img/profile") }}
            "{{ .Name }}",
{{ end }}
        ];
    </script>
{{ end }}

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-126124686-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-126124686-1');
    </script>

    <link rel="stylesheet" href="{{ $style.Permalink }}" />
    <script src="https://kit.fontawesome.com/08efcee44d.js"></script>
</head>
