<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <h6 class="title is-6">Benjamin Porter</h6>
            </a>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarData">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarData" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item" href="/">Home</a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">About Me</a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="/games">Games</a>
                        <a class="navbar-item" href="/music">Music</a>
                    </div>
                </div>
                <a class="navbar-item" href="/doc/resume.pdf">Resume</a>
            </div>
        </div>
    </div>
</nav>
