{{ define "main" }}
    <div class="columns">
        <div class="column has-text-centered is-12-mobile is-5-tablet is-5-desktop">
            <div class="is-inline-block">
                <img class="profile" src="img/me.jpg" width="256" height="256" />
            </div>
        </div>
        <div id="info-col" class="column content has-text-centered is-12-mobile is-5-tablet is-5-desktop">
            <h1>Benjamin Porter</h1>
            <p>CS @ UT Austin</p>
            <nav class="level is-mobile">
                {{ range .Site.Data.links }}
                    <a {{ if .id }} id="{{ .id }}" {{ end }} class="level-item is-link" href="{{ .href }}">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="{{ .icon }} fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                {{ end }}
            </nav>
        </div>
    </div>
    <div class="column content">
        {{ .Content }}
    </div>
    <script src="/js/email.js"></script>
{{ end }}
